<p id="notice"><%= notice %></p>

<h1>Listing Items</h1>


<section class="col-md-12">
<%= render "listing" %>
</section>
<br>

<button type="button" class="btn btn-default"><%= link_to 'New Item', new_item_path %></button>
