// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3/box-shadow";

.list-item {
  background-color: #f1c40f;
  tbody {
    div {
      margin-bottom: 20px;
      background-color: rgba(255, 203, 16, 0.71);

    }
  }


  button {
    color: black;
    a{
    	display: inline-block;
    	height:100%;
    	width:100%;
    }
  }
}

section{
	
	.thumbnail{
		height:210px;
		margin-right:20px;
		a {
			img{
				height:50%;
			}
		}

		.tags{
			position : relative;
			bottom : 0;
			
		}
  &:hover {@include box-shadow(rgba(125,125,125,0.7) 0.5px 0.5px 1px);}

	}
}

.carousel{
	height: 400px;
}

