<!DOCTYPE html>
<html>
<head>
    <title>Lemontree</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<header>
    <div class="logo"></div>
    <ul class="menu">
        <li class="menu_item"><i class="fa fa-home fa-lg"></i> Home</li>
        <li class="menu_item"><i class="fa fa-bars fa-lg"></i> Items</li>
        <li class="menu_item"><i class="fa fa-envelope-o fa-lg"></i> Contact</li>
    </ul>
</header>
<div class="container">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <%= yield %>
</div>
<footer>
    <p>Copyright 2015 | Crazy Charlie Day | Yann Prono - Ysée Monnier - Pierre Belabess - Renan Strauss</p>
</footer>
</body>
</html>
